form {
    border: 5px solid white;
    max-width: 600px;
    margin: 3rem auto;
    padding: 1rem;
    font-family: cursive;
    font-style: italic;
    background-color: black;
    text-align:center;

}

#results {
    border: 5px solid gold;
    max-width: 600px;
    margin: 3rem auto auto;
    padding: 1rem; 
    font-family: 'Courier New', Courier, monospace;
    background: black;
    text-align: center;
    color: white;
    font-weight: 80%;
}

img {
    width: 550px;
    height: auto;
    margin-top: 20px;
    border: 10px solid #7a7104;
    border-radius: 100px;
    
}

img:hover {
    transform: scale(1.05);
    filter:drop-shadow(1px 1px 10px gold)
    
}

body {
    background: url("images/hashiras.jpg") ;
    color: white;
   
    
}

input {
    font-family: fantasy;
    font-style: oblique;
    margin: 10px;
}

input:hover {
    text-shadow: 3px gold;
    border-radius: 6px;
    transform: scale(1.15);
    filter:drop-shadow(1px 1px 5px gold);
}

select {
    font-family: fantasy;
    font-style: oblique;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

select:hover {
    transform: scale(1.15);
    filter: drop-shadow(1px 1px 10px gold);
}

#submit-btn {
    margin-top: 20px;
    font-family: fantasy;
}

#submit-btn:hover {
    box-shadow: 1px 1px 10px rgb(255, 0, 0);
}

#fname {
    margin-bottom: 20px;
}

#intro {
    font-size: 18px;
}

#description {
    font-size: 20px;
    margin-top: 40px;
}

#back {
    font-size: 28px;
    font-family: fantasy;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 15px;
    
    color: white;
    border: 3px white;
}
.menu-item {
    background: black;
    text-decoration: none;
    color:white;
    padding: 10px;
    border: 5px white;
    border-radius: 15px;
}
#back:hover {
    text-decoration: underline;
    filter:drop-shadow(1px 1px 10px gold);
}

